* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.layout {
    position: relative;
}

.some {
    width: 70%;
    max-width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: #111;
}

.postaukset {
    display: flex;
    flex-direction: column;
}

.post {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    border-bottom: 1px solid #333;
}

.omapost {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.omapost textarea {
    width: 100%;
    min-height: 80px;
    padding: 12px;
    resize: vertical;

    background-color: #1a1a1a;
    color: white;

    border: 1px solid #333;
    border-radius: 8px;

    font-family: Arial, sans-serif;
    font-size: 1rem;
    outline: none;
}

.omapost textarea::placeholder {
    color: #777;
}

.omapost textarea:focus {
    border-color: #666;
}

.omapost button {
    align-self: flex-end;

    padding: 8px 18px;

    background-color: white;
    color: black;

    border: none;
    border-radius: 20px;

    font-size: 0.9rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}


.tekija {
    font-size: 1.1rem;
    font-weight: bold;
}

.sisalto {
    font-size: 1rem;
    line-height: 1.5;
    overflow-wrap: anywhere;
}

.julkaisuaika {
    font-size: 0.8rem;
    color: #888;
    border-top: 1px solid #333;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    border-bottom: 1px solid #333;
}

nav a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

aside {
    position: absolute;
    top: 20px;
    right: calc(50% + 470px);
}

aside img {
    width: 100px;
    height: auto;
}